{# NEH: Edited Footer, Added styles.css #}
{% set compress = theme_var('production_mode') ? '.min.css' : '.css' %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
{% include 'partials/head.html.twig' %}
{# Region Sidebar #}
{% if header.region__sidebar_one__enabled %}{% set sidebar = 'layout-sidebar-one' %}{% endif %}
{# block body_layout from shop + product twig #}
<body id="top" class="{% block body_layout %}{% endblock %} {{ sidebar }} {% if header.body_classes %}{{ header.body_classes }}{% endif %} {% if header.hero__visible == true %}{{ header.hero__size_class }}{% endif %}">

  <div class="wrapper u-clearfix">
    {# Header #}
    {% block header %}
      {% include 'partials/region/header.html.twig' %}
    {% endblock %}
    {# End: Header #}

    {# Hero #}
    {% block hero %}{% endblock %}
    {# End: Hero #}
    <button onclick="topFunction()" id="goToTop" title="Go to top">Top</button>
    {# Main #}

    {% block main %}
      {% block messages %}
          {% include 'partials/messages.html.twig' ignore missing %}
      {% endblock %}
      {# Block Title + Content from Partials #}
      {% block title %}{% endblock %}
      {% block content %}{% endblock %}
      {# End Comment: Block Title + Content from Partials #}
    {% endblock %}
    {# End: Main #}

  {# Footer_Pre Region: Optional #}
  {% if page.header.region__footer_pre__enabled %}
    {% include 'partials/region/footer-pre.html.twig' ignore missing %}
  {% endif %}
  {# End Footer_Pre Region: Optional #}

  {# Footer Region 1 #}
  <aside id="region-footer-1" class="section" role="complementary">
    {% include 'modules/modules.html.twig' with {'page': page.find('/region-footer-1')} %}
  </aside>
  {# End Footer Region 1 #}

  {# Footer Regions 2 and 3 #}
  {% block footer %}
    {% include 'partials/region/footer.html.twig' %}
  {% endblock %}
  {# End Footer Regions 2 and 3 #}
</div> <!-- Wrapper: End -->


{# 'Register' JS and optionally categorize into a group #}
{% block javascripts %}
    {% do assets.addJs('jquery', {group: 'bottom'}) %}
    {% do assets.addJs('theme://js/dist/lightslider.js', {group: 'bottom'}) %}
    {# Load site.js after Lightslider b/c this overrides/complements lightslider.js #}
    {% do assets.addJs('theme://js/dist/site.js', {group: 'bottom'}) %}
    {# Isotope 2 files isotope + imagesloaded #}
    {# {% do assets.addJs('theme://js/dist/isotope.pkgd.js', {group: 'bottom'}) %} #}
    {# {% do assets.addJs('theme://js/dist/imagesloaded.pkgd.js', {group: 'bottom'}) %} #}
    {# Snipcart 2 files #}
    {% do assets.addJs('https://cdn.snipcart.com/themes/v3.0.1/default/snipcart.js" id="snipcart" data-api-key="NmNiODg0MmUtMTAyYS00M2FhLTlhYmItN2MxZmMwODQxMmI0NjM2NjMxOTc4NDQwMzY3NDg2', {group: 'snipcart-vendor'}) %}
    {% do assets.addJs('theme://js/dist/snipcart-custom.js', {group: 'snipcart-custom'}) %}
{% endblock %}
{# Render CSS and JS in order by group, or no group #}
{% block assets_bottom %}
  {{ assets.js('bottom') }}
  {{ assets.js('snipcart-vendor') }}
  {{ assets.js('snipcart-custom') }}
  {# Ungrouped CSS and JS such as with plugins that have not defined a group #}
  {{ assets.js() }}
  {{ assets.css('snipcart-vendor') }}
  {# Snipcart custom/modal included below #}
  {{ assets.css() }}
{% endblock %}
{# Menu Mobile #}
<div class="overlay-bodigiti js-toggle-menu"></div>
<div class="drawer">
	<div class="drawer__body">
		<nav role="navigation">
      <ul class="mobile-nav">
        {% include 'partials/navigation.html.twig' %}
      </ul>
    </nav>
  </div>
</div>{# End Menu Mobile #}
<style>
</style>
</body>{# End Page Body #}
