<head>
{% block head %}
  <meta charset="utf-8" />
  <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#231F20"/><!-- Mobile Chrome, Firefox OS and Opera -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  {% include 'partials/metadata.html.twig' %}
  <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
  <link rel="canonical" href="{{ page.url(true, true) }}" />
  
  <!-- Google Tag Manager -->
 
  <!-- End Google Tag Manager -->
  
<script src="/user/themes/bodigiti/js/dist/lazysizes.min.js" async=""></script>
{# 'Register' CSS and optionally categorize into a group #}
{# For Additional Styles Rendering see bottom of base.html.twig #}
{# For JS Rendering see bottom of base.html.twig #}
{% block stylesheets %}
  {% do assets.addCss('theme://style/css/styles.css', {group:'top'}) %}
  {% do assets.addCss('https://cdn.snipcart.com/themes/v3.0.2/default/snipcart.css', {group:'snipcart-vendor'}) %}
  {% do assets.addCss('theme://style/css/snipcart-modal.css', 108) %}
  {% if browser.getBrowser == 'msie' and browser.getVersion >= 10 %}
      {% do assets.addCss('theme://style/css/ie10-plus.css') %}
  {% endif %}
{% endblock %}
{# Render Primary Styles.css #}
{{ assets.css('top') }}
{% endblock head %}
{# Google Fonts #}
<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">
{# Google reCaptcha #}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
