{# Start for loop first so teaser does not render if there is no image in slideshow #}
{% for slide in page.header.slideshow %}
  {% if loop.first %}
  <div class="product-teaser">
    <article>
      <a href="{{ page.url }}">
        <div class="product--info">
          <div class="product--image">
            {% set image = page.media.images[slide.image] %}
            {{ image.cropZoom(480,480).html('', slide.alt, '') }}
          </div>
          <div class="product--header">
            {% if page.header.product_sale_price %}
              {% if page.header.out_of_stock %}
                <div class="product--price"><span style="">SOLD</span>&nbsp;<span class="on-sale" style="">${{ page.header.product_sale_price }}</span></div>
              {% else %}
                <div class="product--price"><span style="color: #CD6667;">SALE</span>&nbsp;<span class="on-sale" style="color: #CD6667;">${{ page.header.product_sale_price }}</span></div>
              {% endif %}
            {% else %}
              {% if page.header.out_of_stock %}
                <div class="product--price"><span style="">SOLD</span>&nbsp;<span class="" style="">${{ page.header.product_price }}</span></div>
              {% else %}
                <div class="product--price">${{ page.header.product_price }}</div>
              {% endif %}
            {% endif %}
            <div class="product--title">{{ page.title }}</div>
          </div>
        </div>
      </a>
    </article>
  </div>
  {% endif %}
{% endfor %}
